{
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-tailwindcss"]
}
